*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: white;
    display: flex;
    justify-content: center;
    align-content: center;
}

.container{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 25%;
    width: 180px;
    height: 50px;
    background-color: green;
    border-radius: 10px;
}

.btn{
    position: relative;
    padding-top: 15px;
    color: white;
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.badge{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    position: absolute;
    left: 136px;
    bottom: 36px;
    background-color: blue;
    width: 20px;
}

